<ul class="nav justify-content-center">
    <li class="nav-item mx-1">
        <h1>Nicolas Albright</h1>
    </li>
    <li class="nav-item mx-1">
        <a class="nav-link active" href="/">About</a>
    </li>
    <li class="nav-item mx-1">
        <a class="nav-link" href="/engineering">Engineering</a>
    </li>
    <li class="nav-item mx-1">
        <a class="nav-link" href="/webdev">Web Development</a>
    </li>
    <li class="nav-item mx-1">
        <a class="nav-link" href="/3dprinting">3D Printing</a>
    </li>
    <li class="nav-item mx-1">
        <a class="nav-link" href="/contact">Contact</a>
    </li>
</ul>