<% layout('partials/boilerplate') %>
<div class="row">
    <div class="col-sm-8 offset-sm-2 col-xl-6 offset-xl-3">
        <h1>Nicolas Albright</h1>
        <p>Systems Engineer, full stack web developer, 3d printing hobbyist</p>
    </div>
</div>